h1,
h2,
h3,
h5, 
.card-title, 
.card-body, 
#addCart,
a.nav-red,
address{
      color: #9d263e;
      background-color: #0a0908;
      font-family: monospace;
      text-align: center;
}

#addCart:hover, a.nav-red:hover, #addCart:active{
      background-color: #0e0d0c;
      color:#d13454;
}


p,
label {
      color: #d13454;
}

textarea {
      outline-style: solid;
      outline-color: #d13454
}

body h2, .home {
      padding: 50px;
      margin-top: 20px;
}

.navbar {
      background-color: #0a0908;
      border-style: solid;
      border-color: #9d263e;
}

body {
      font-family: 'Courier New', Courier, monospace;
      background-color: #f2f4f3;
      background-image: url("./app/assets/img/inside_1.jpg");
      background-repeat: no-repeat;
      background-size: cover;
}

div.row-content {
      margin: 30px;
      padding: 50px 0;
      min-height: 200px;
      background-color: #0a0908;
}

img {
      background-color: #0a0908;
      border-style: solid;
      border-color: #0a0908;
}

.media {
      background-color: #0a0908;
      border-style: solid;
      border-color: #9d263e;
}

.menu-item-row {
      padding: 0;
}

.site-footer {
      color: #0a0908;
      background-color: #0a0908;
      border-style: solid;
      border-color: #9d263e;
}

.media h3,
.media img,
.media p {
      min-width: 33.33%;
}

.fa-fort-awesome {
      font-size: 100px;
      color: #9d263e;
}

.page-enter {
      opacity: 0;
      transform: translateX(-100%);
}

.page-enter-active {
      opacity: 1;
      transform: translateX(0%);
      transition: 300ms ease-out;
}

.page-exit {
      opacity: 1;
}

.page-exit-active {
      opacity: 0;
      transition: 300ms ease-in;
}

.card-body {
      background-color: #0a0908;
}

.navbar-brand > h1{
      display: inline-block;
}

footer li {
      text-align: center;
}

#secondNav {
      top: 183px;
}

#detailedItem {
      position: sticky;
      top: 250px;
}

#addCart {
      padding: 0.375rem 0.75rem;
      border: 1px solid transparent;
      border-radius: 0.25rem;
}

.cartItem {
      position: relative;
      margin-top: 65px;
}

